$border: 1px solid black;
$bg-color: cyan;
$align: center;
$defaultSize: 5px;

@mixin screen {
	width: 340px;
	height: 85vh;
}

@mixin fontButton {
	position: absolute;
	top: $defaultSize;
	font-size: 40px
}

@mixin screenMobile {
	margin: auto;
	width: 90%;
}