$border: 1px solid black;
$bg-color: cyan;
$align: center;
$size: 5px;

@mixin  screen {
width: 340px;
height: 82vh;
}

@mixin fontButton{
position: absolute;
top: $size;
font-size: 40px
}

@mixin screenMobile{
    margin: auto;
    width: 90%;
}