@import "./styles";

.bot-box{
    border: $border;
    position: relative;
    margin-left: 25px;
    margin-top: 25px;
    @include screen;
}
@media only screen and (max-width: 425px) {
    /* For mobile phones: */
.bot-box {
    @include screenMobile;
    
   }
}

.inner{
    height: 57vh;
    width: 100%;
    word-wrap: break-word;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

hr{
    border: $border;
}

.header{
    background-color: $bg-color;
}

.send{
    position: absolute;
    bottom: 8px;
    left: 40px;
    width: 100%;
 }

.textbox{
    border: 1px solid yellowgreen;
    width: 60%;
    height: 24px
}

li{
    list-style-type: none;
}

img{
    padding-top: $size;
    height:70px;
    width: 70px;
}

b.avatarName{
    font-size: 22px;
    position: relative;
    margin-left: $size;
    bottom: 20px;
}

b.botMessage{
    margin-left: 15px;
}



.userMessage{
    margin: 15px 10px 15px 5px;
    padding-left: 10px;
    width: 75%;
    border: 1px thin black;
    border-radius: 8px;
    background-color: lightgreen;
}

.avatar{
    text-align: $align;
}

.fa-close{
    @include fontButton;
    right: $size;
}


.fa-arrow-left{
    @include fontButton;
    left: $size;
}
.fa-paper-plane{
    transform: rotate(45deg);
    font-size: 28px;
}






