@import "./styles";



hr{
    border: $border;
}

.header{
    background-color: $bg-color;
}

.send{
    position: absolute;
    bottom: 8px;
    left: 40px;
    width: 100%;
 }

.textbox{
    
    width: 60%;
}

.bot-box{
    border: $border;
    position: relative;
    width: 350px;
    height: 500px;
}
@media only screen and (max-width: 425px) {
    /* For mobile phones: */
.bot-box {
    margin: auto;
    width: 90%;
   }
}
.inner{
    height:350px;
    width:100%;
    word-wrap: break-word;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

li{
    list-style-type: none;
}

img{
    padding-top: 5px;
    height:70px;
    width: 70px;
}

b.avatarName{
    font-size: 22px;
    position: relative;
    margin-left: $default-pixel;
    bottom: 20px;
}

b.botMessage{
    margin-left: 15px;
}


.fa-close{
    position: absolute;
    top: $default-pixel;
    right: $default-pixel;
    font-size: 40px
}


.fa-arrow-left{
    position: absolute;
    top: $default-pixel;
    left: $default-pixel;
    font-size: 40px;
}

.userMessage{
    margin: 15px 10px 15px 5px;
    padding-left: 10px;
    width: 75%;
    border: 1px thin black;
    border-radius: 8px;
    background-color: lightgreen;
    
}

.fa-paper-plane{
    transform: rotate(45deg);
    font-size: 24px;
}

.avatar{
    text-align: $align;
}





