@import "./styles";



.box{
    position: relative;
    margin-left: 25px;
    margin-top: 25px;
    border: $border;
    width: 350px;
    height: 90vh;
    background-color: $bg-color;
}
@media only screen and (max-width: 425px) {
    /* For mobile phones: */
    .box {
      margin: auto;
      width: 90%;
    }
  }

.fa-close{
    position: absolute;
    top: $default-pixel;
    right: $default-pixel;
    font-size: 40px;
    }

.aboutUs{
    padding-top: $default-pixel;
    width: 80%;
    height: 47vh;
    margin: auto;
    border: $border;
    text-align: $align;
    font-weight: bold;
}

p img{
    padding-top: 8px;
    height: 38vh;
    width: 85%;
}

.header{
    text-align: $align;
    
}

.askQuestion{
    margin-left: 25%;
    margin-right: 25%;
    text-align: $align;
    border: $border;
    background-color: lightblue;
    
}

.askQuestion:hover{
    background-color: grey;
}