.box{
    position: relative;
    border: 1px solid black;
    width: 320px;
    height: 80vh;
    background-color: cyan;
}

.fa-close{
    position: absolute;
    top:5px;
    right:5px;
    font-size:40px;
    }


.aboutUs{
    padding-top: 5px;
    width: 80%;
    height: 45%;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}

p img{
    padding-top:8px;
    height: 80%;;
    width: 85%;
}

.header{
    text-align: center;
    
}

.askQuestion{
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    border: 1px solid black;
    background-color: lightblue;
    
}

.askQuestion:hover{
    background-color: grey;
}